@import url("https://use.typekit.net/vmb1fpc.css");
@media screen and (max-width: 768px) {
  .navbar{
    display: none;
  }

  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FAF9F6;
    color: #23291e;
    border-bottom: 1px solid #23291e;
  }

  .site-header img {
    margin: 0;
    padding: 0;
    max-height: 20px;
  }

  .content-padding {
    margin: 0 30px;   
  }

.accordion-wrapper {
  margin: 100px 0;
  max-width: 100%;
}

.center-align {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact {
  margin-bottom: 100px;
}

.contact h2 {
  padding-bottom: 10px;
  letter-spacing: 1px;
}

.contact-container {
margin-top: 10px;
display: inline-flex;
justify-content: space-between;
width: 80%;
}

.contact-grid a span {
  padding-left: 10px;
}

footer {
  background-color: #45503B;
  color: #FAF9F6;
  padding: 20px 0;
  font-size: 12px;
}

.footer-nav ul {
  margin-top: 20px;
}

.footer-nav li {
  margin-top: 5px;
}
.footer-nav li a {
  color: #FAF9F6;
  text-decoration: none;
}

footer img {
  max-width: 50%;
}

.legal {
  margin-top: 20px;
  font-size: 10px;
}


}

body { 
  overflow-x: hidden;
  max-width: 100%; 
  padding: 0;
  margin: 0;
  background-color: #FAF9F6;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

p {
margin: 0;
padding: 0;
font-weight: 100;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none; color: #23291e;
}

img {
  max-width: 100vw;
  object-fit: cover;
}

a:visited {
  text-decoration: none; color: #23291e;
}

a:hover {
  text-decoration: none; color: #23291e; 
}

a:active {
  text-decoration: none; color: #23291e;
}

h1, h2, h3, h4 {
  font-family: "lust-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: #23291e;
}

.site-header {
  padding: 15px 30px;
}

.accordion h4 {
  margin: 0;
  padding: 10px 0;
}

.accordion p {
  font-size: 16px;
}

.accordion {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  overflow: hidden;
  border-top: 1px solid #343C38;
  width: 100%;
}

.accordion-label {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  align-items: center;
  padding: 12px 10px 10px;
  transition: all 0.3s ease;
}

.accordion-label:hover {
  background-color: #A6A97B;
  color: #343C38;
  transition-duration: 0.3s;
}

.accordion-content {
  display: none;
  padding: 2%;
  margin: 0;
}

.accordion-menu {
  display: none;
}

.accordion-menu:checked ~ .accordion-content {
  height: auto;
  display: flex;
  align-items: center;
}

.accordion-menu:checked ~ .accordion-label span {
  -webkit-transform: rotate(180deg);
  transition-duration: 0.4s;

}

.accordion-menu:checked ~ .accordion-label {
  background-color: #A6A97B;
  transition-duration: 0.4s;
  border-bottom: 1px solid #343C38;
}

.accordion:last-child {
  border-bottom: 1px solid #343C38;
}

.green-background {
  margin-top: -300px;
  background-color: #A6A97B;
  height: 450px;
  width: 100vw;
}


@media screen and (min-width: 821px) {

  .content-padding {
    margin: 0 60px;   
  }

  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FAF9F6;
    z-index: 100;
    padding: 15px 60px;
    transition: background-color 0.5s ease;
    color: #23291e;
    border-bottom: 1px solid #23291e;
  }

  .site-header img {
      margin: 0 8vw;
      max-height: 20px;
  }

  .navbar {
    margin: 0 8vw;
  }

  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin-left: 2vw;
    padding: none;
    font-size: 16px;
  }
  
  .navbar li:first-child {
    margin-left: 0;
  }
  
  .navbar a {
    text-decoration: none;
    color: #23291e;
  }
  
.nav-link a {
    font-weight: 100;
}

.nav-link a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #23291e;
    transition: width .3s;
}

.nav-link a:hover::after {
    width: 100%;
    transition: width .3s;
}

.content-padding {
    margin: 0 60px;   
}

.center-align {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.accordion-wrapper {
  margin: 150px 16vw 0;
  max-width: 100%;
}

/* green background */

/*contact block at the bottom */

.contact {
    margin: 150px 0;
    width: 400px;
}

.contact h2 {
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.contact-container {
  margin-top: 10px;
  display: inline-flex;
  justify-content: space-between;
}

.contact-grid {
  display: inline-flex;
  text-align: left;
  width: 200px;
  transition: transform 0.3s ease;
}

.contact-grid:first-child {
  padding-left: 30px;
}

.contact-grid h4 {
  padding: 0;
  margin: 0;
}

.contact-grid a {
  display: flex;
  padding: 0;
}

.contact-grid a {
  transition: all 0.3s ease;
}

.contact a:hover::after {
  padding-right: 0;
}

.contact-grid a span {
  padding-right: 30px;
  transition: all 0.3s ease;
  display: inline-block;
  position: relative;
}

.contact-grid a:hover span {
  transform: translateX(10px);
}

.contact-grid span {
  padding: 0 10px;
  margin: 0;
}

/* footer */

footer {
    background-color: #45503B;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 16vw;
  }
  
  .footer-container img {
    margin-top: 50px;
    max-width: 20vw;
  }

  .footer-nav {
    margin-top: 25px;
    width: 100%;
    border-top: 1px solid #FAF9F6;
    border-bottom: 1px solid #FAF9F6;
    text-align: center;
    align-items: center;
  }

  .footer-list-container {
    margin: 0 8vw;
  }
  
  .footer-nav ul, .footer-content ul {
    padding: 0;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
  }

  .footer-nav li {
    padding: 20px 1vw;
  }
  
  .footer-nav li a {
    color: #FAF9F6;
    text-decoration: none;
  }

  .footer-nav li a:hover {
    color: #A6A97B;
    transition: all 0.3s ease;

  }

  .footer-content ul {
    justify-content: left;
    margin-bottom: 50px;
  }

  .footer-content li {
    padding: 0;
  }
  
  .footer-content li p {
    margin: 0;
    font-size: 12px;
    padding-right: 10px;
  }
  
}

